.light-table .ant-table {
  background: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  font-size: 14px;
}

.light-table .ant-table-thead > tr > th {
  background-color: #e8e8e8;
  color: #333;
  font-weight: 700;
  padding: 3px 4px;
  border-bottom: 1px solid #d9d9d9;
}

.light-table .ant-table-tbody > tr > td {
  background-color: #fff;
  color: #333;
  padding: 3px 4px;
  border-bottom: 1px solid #f0f0f0;
}

.light-table .ant-table-tbody > tr:hover > td {
  background-color: #f9f9f9;
}

.light-table .ant-table-bordered .ant-table-cell {
  border: 1px solid #f0f0f0;
}
